@import 'tailwindcss';

:root {
  --background: #0a0c0d;
  --foreground: #171717;
  --sidebar-background: #121415;
  --gradient: 233.67deg, rgba(48, 7, 255, 0.29) -2.43%,
    rgba(209, 40, 150, 0.271346) 58.32%, rgba(255, 86, 35, 0.25) 98.83%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-bg: var(--sidebar-background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
