.profile__card:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 15px;
  height: 120px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 100%
  );
}

.profile__card > div {
  scrollbar-width: none;
}

.profile__card > div::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
